<script type="text/javascript" charset="utf-8">
	function dropped(draggable, droppable, event) {
		new Ajax.Request('/presentations/swap?from='+draggable.id+'&to='+droppable.id+'&authenticity_token='+rails_authenticity_token, {asynchronous:true, evalScripts:true});
		event.stopPropagation();
	}
</script>

<table width="100%" cellspacing="0" class="schedule">
  <%=render :partial=>'column_heading'%>
  <% render :layout =>'rows' do %>
	  <td><div id="cell_<%=@timeslot_id%>.<%=@room_id%>">
		<%=render :partial=>'presentation'%>
	  </div></td>
  <% end %>
</table>
