<script type="text/javascript" charset="utf-8">
	function dropped(draggable, droppable, event) {
		new Ajax.Request('/presentations/swap?from='+draggable.id+'&to='+droppable.id, {asynchronous:true, evalScripts:true});
		event.stopPropagation();
	}
</script>

<table width="100%" cellspacing="0" class="schedule">
  <% render :layout=>current_event.rotation_rows do %>
	  <td><div id="cell_<%=@timeslot_id%>.<%=@room_id%>">
		<%=render :layout=>nil, :partial=>'presentation'%>
	  </div></td>
  <% end %>
</table>
