<% content_for :title do %>
    <%= current_event.name %>                
<% end %>

<table class="schedule" cellspacing="0" width="100%">
  <% render :layout =>current_event.rotation_rows do %>
      <td>
        <%if !@presentation.nil? and @presentation.respond_to? :title%>
          <strong><%=link_to @presentation.title, presentation_path(@presentation)%></strong><br/>
          <%=@presentation.presenter%>
		<% else %>
			&nbsp;
        <% end %>
      </td>
  <% end %>
</table>
